# Source
GBFS_URL=https://saopaulo.publicbikesystem.net/customer/gbfs/v3.0/gbfs.json

# Kafka / Redpanda
# Use localhost when running the producer from the host machine
KAFKA_BROKER=localhost:19092
KAFKA_TOPIC_STATION_INFORMATION=station_information
KAFKA_TOPIC_STATION_STATUS=station_status

# Producer
POLL_INTERVAL_SECONDS=60