# Source
GBFS_URL=https://saopaulo.publicbikesystem.net/customer/gbfs/v3.0/gbfs.json

# Kafka / Redpanda
# Use localhost when running the producer from the host machine
KAFKA_BROKER=localhost:19092
KAFKA_TOPIC_STATION_INFORMATION=station_information
KAFKA_TOPIC_STATION_STATUS=station_status

# Producer
POLL_INTERVAL_SECONDS=60

# GCP / warehouse
GOOGLE_CLOUD_PROJECT=bikeflow-sp-dezoomcamp
PROJECT_ID=bikeflow-sp-dezoomcamp
RAW_BUCKET=bikeflow-sp-dezoomcamp-raw
GCS_RAW_PREFIX=raw
BQ_LOCATION=southamerica-east1
BQ_DATASET=bikeflow_raw

# Host paths mounted into the Kestra container
GCLOUD_CONFIG_DIR=${HOME}/.config/gcloud
DBT_PROFILES_HOST_DIR=${HOME}/.dbt

# Kestra/dbt container defaults
WORKSPACE_DIR=/workspace
CLOUDSDK_CONFIG=/home/kestra/.config/gcloud
DBT_PROFILES_DIR=/home/kestra/.dbt
GOOGLE_APPLICATION_CREDENTIALS=/home/kestra/.config/gcloud/application_default_credentials.json
