
```env
# =========================
# Project
# =========================
PROJECT_NAME=bike-flow-sp-end-to-end
ENV=dev

# =========================
# GBFS Source
# =========================
GBFS_AUTO_DISCOVERY_URL=https://saopaulo.publicbikesystem.net/customer/gbfs/v3.0/gbfs.json
GBFS_POLL_INTERVAL_SECONDS=60

# =========================
# Kafka / Redpanda
# =========================
KAFKA_BROKER=redpanda:9092
KAFKA_TOPIC_STATION_INFORMATION=gbfs_station_information
KAFKA_TOPIC_STATION_STATUS=gbfs_station_status

# =========================
# GCP
# =========================
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCP_LOCATION=US

# =========================
# GCS
# =========================
GCS_BUCKET_NAME=your-gcs-bucket-name

# =========================
# BigQuery
# =========================
BQ_DATASET_RAW=bikeflow_raw
BQ_DATASET_ANALYTICS=bikeflow_analytics

# =========================
# Local paths / credentials
# =========================
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account.json

# =========================
# dbt
# =========================
DBT_PROFILES_DIR=~/.dbt

# =========================
# Optional logging
# =========================
LOG_LEVEL=INFO